* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8E806A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#di {
    background-color: #C3B091;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: black 10px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 5px;
} 

.obj {
    text-align: center;
}

button {
    background-color: #E4CDA7;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    cursor: pointer;
    height: 30px;
}

#ref:hover {
    background-color: #FFE6BC;
}

span {
    margin: 10px;
}

.cont {
    display: flex;
    flex-wrap: wrap;
}

img {
    border-radius: 5px;
}

#error{
    color: red;
    text-align: center;
    font-size: 50px;
}